/* Global app styling */

body, html {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Arial';
  font-size: 14px;
  color: #919191;
}

#app,
#app > div {
  height: 100%;
}

.errorMessages {
  display: none;
  color: red;
}

.flatBlueButton {
  background-color: #3198db;
  border-radius: 2px;
  color: white;
  border: 0;
  box-shadow: none;
  height: 35px;
  font-size: 10px;
}

.flatBlueButton:hover {
  cursor: pointer;
}

.formInput {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #111111;
  color: #5e5e5e;
  padding-left: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track-piece {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background: #555;
  height: 30%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chatHighlight {
  position: absolute;
  top: 40px;
  left: 15px;
}

.chatLink:hover {
  cursor: pointer;
}

.vipFeature {
  color: #708090;
}

/* Modal windows base styling */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modalContent {
  background-color: #111111;
  color: #919191;
  margin: 15% auto;
  width: 700px;
  border: 1px solid grey;
  border-radius: 2px;
}

.modalTitleBox {
  padding: 0px 20px;
  position: relative;
}

.modalContent hr {
  height: 1px;
  border: 0;
  color: grey;
  background-color: #333;
}

.close {
  font-size: 40px;
  position: absolute;
  right: 15px;
  top: -15px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.modalContent form label:not(.imageInputLabel) {
  display: inline-block;
  width: 130px;
  text-align: right;
}

.modalContent .formRow {
  margin-bottom: 15px;
}

.modalContent form input[type="text"],
.modalContent form input[type="password"],
.modalContent form input[type="file"] {
  height: 35px;
  width: 300px;
}

.modalContent .formBox {
  padding: 20px 20px;
}
