#middleSection {
  width: auto;
  min-width: auto;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  overflow: auto;
}
